.node.node-highlighted .outline {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
    filter: alpha(opacity=50);
    opacity: .5;
    stroke: #888;
    stroke-width: 12px;
}
.node .outline {
fill: none;
-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
filter: alpha(opacity=0);
opacity: 0;
stroke: #6ac6ff;
stroke-width: 8px;
}
.node .text.icon {
font-family: FontAwesome;
}

.node.selected .outline,
.node:hover .outline {
-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
filter: alpha(opacity=30);
opacity: .3;
}
.text {
    x: 20;
    y: 20;
    text-anchor: middle;
    font-size:  12;
}
  